.elfImage {
 width: 511px;
 padding-left: 5%;
}

.theElfs {
 font-family: kingdom;
 color: white;
 padding-left: 45.3%;
 font-size: 55px;
}

.elfBox {
 display: flex;
 flex-direction: row;
 color: white;
}

.textRef {
  font-family: kingdom;
}