@font-face {
  font-family: kingdom;
  src: url('../fonts/TheQualityBrave-Regular.ttf');
}

.navBar {
 background-image: url('../images//wallNavBar.png');
 background-repeat: no-repeat;
 background-size: cover;
 padding-left: 2%;
 color: black;
 transition: 500ms;
}

.navBar:hover {
 color: black;
 background: url('../images/pergaminho.png') no-repeat;
 background-position: center;
 background-size: contain;
}

.dragonGIF {
  width: 7%;
  position: absolute;
  right: 5px;
  padding-top: 3%;
}

.backgroundT {
  padding-top: 2%;
  padding-bottom: 2%;
}

.chose {
 font-size: 60px;
 display: flex;
 font-family: kingdom;
 justify-content: center;
 background-image: url('../images/pergaminhoTitle.png');
 background-repeat: no-repeat;
 background-position: 50%;
 padding-left: 0;
 color: black;
}

 .Header {
  background-image: url('../images/wall.png');
  display: flex;
  align-items: center;
  flex-direction: row;
 font-family: kingdom;
}

a {
  font-size: 43px;
  color: white;
}

a:link {
 text-decoration: none;
 padding-left: 20px;
}

.logo {
  display: flex;
  flex-direction: row-reverse;
  width: 30%;
  padding-left: 14%;

}