@font-face {
  font-family: kingdom;
  src: url('../fonts/TheQualityBrave-Regular.ttf');
}

@font-face {
  font-family: cherry;
  src: url('../fonts/Cherry\ Monospace-Light.ttf');
}

@font-face {
  font-family: cardinal;
  src: url('../fonts/Cardinal.ttf');
}

.kingdom-title {
  font-size: x-large;
}

.kingdom {
  display: flex;
  align-items: center;
  height: 4em;
  font-family: cardinal;
  background-color: #202020;
}

.kingdom-title:hover {
  color: #d7d7d7;
}

.navBar {
 font-size: large;
 font-style: bold;
 font-family: cherry;
 padding-right: 1%;
 padding-left: 2%;
 color: white;
 transition: 600ms;
}

.navBar:hover {
  font-family: kingdom;
 padding-top: 0%;
 color: rgb(0, 0, 0);
 background: url('../images/pergaminho.png') no-repeat;
 background-position: center;
 background-size: contain;
}

.navBar:not(:hover) {
  transform: scale(1);
  transition: 900ms;
}

 .Header {
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
 flex-direction: row;
 height: 3em;
 font-family: kingdom;
}

a {
  font-size: 43px;
  color: white;
}

a:link {
 text-decoration: none;
 padding-left: 20px;
}
