
  .background {
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: 0;
  }

  .everything {
    background-color: black;
  }

  .main-content {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: wheat;
    background-size: contain;
  }

  .text {
    z-index: 1;
    font-family: cherry;
    color: white;
    font-size: 260%;
    padding-top: 10%;
    padding-left: 5%;
  }

  .magic {
    z-index: 1;
    margin-top: 2%;
    margin-left: 5%;
    font-size: 350%;
    color: black;
    width: 25%;
    text-align: center;
    font-family: cardinal;
    background-image: url('../images/button.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  