@font-face {
    font-family: kingdom;
    src: url('../fonts/TheQualityBrave-Regular.ttf');
  }

  p {
    color: white;
    font-family: cardinal;
    font-size: 200%;
  }

  .images-paint {
    margin-top: -2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imageItself {
    padding-left: 3%;
    cursor: pointer;
  }

  .imageItself:hover {
    transform: scale(1.1);
    padding-bottom: 1%;
    transition: 500ms;
  }

  .imageItself:not(:hover) {
    transition: 500ms;
  }

  .nameAndBut {
    padding-left: 3.5%;
    width: 18%;
    height: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  body {
    background-color: black;
  }

  button {
    margin-left: -10%;
    width: 5%;
    color: white;
    border: none;
    text-align: center;
    font-family: cherry;
    height: 0.02em;
    font-size: 400%;
    background: none;
    cursor: pointer;
  }

  button:hover {
    margin-top: -2%;
    transform: scale(1.05);
    transition: 500ms;
  }

  button:not(:hover) {
    transition: 500ms;
  }