@font-face {
    font-family: kingdom;
    src: url('../fonts/TheQualityBrave-Regular.ttf');
  }

.ImageP {
 width: 396px;
 cursor: pointer;
}

.inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: kingdom;
}

.inside:hover {
    transform: scale(1.1);
    transition: 500ms;
  }

.race {
 color: black;
 cursor: pointer;
 display: flex;
 background: url('../images/pergam.png');
 background-position: 50%;
 justify-content: center;
 padding-bottom: 8%;
}