@font-face {
    font-family: kingdom;
    src: url('../fonts/TheQualityBrave-Regular.ttf');
  }

.ImageP {
 cursor: pointer;
 display: flex;
 justify-content: center;
}

.inside {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-left: -1%;
    font-family: kingdom;
}

.inside:hover {
    transform: scale(1.05);
    transition: 500ms;
  }

.inside:not(:hover) {
  transform: scale(1);
  transition: 500ms;
}

.race {
 color: black;
 cursor: pointer;
 display: flex;
 background-image: url('../images/pergaminho.png');
 background-repeat: no-repeat;
 background-size: 30%;
 background-position: 53%;
 justify-content: center;
 padding-bottom: 5%;
}